{
  "env": {
    "jest/globals": true,
    "browser": true
  },
  "plugins": ["jest", "eslint-plugin-react","testing-library"],	
  "parser": "babel-eslint",	
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "settings": {
    "react": {
      "createClass": "createReactClass", 
                                         
      "pragma": "React",  
      "fragment": "Fragment",  
      "version": "detect", 
                           
                          
                           
      "flowVersion": "0.53" 
    },
    "propWrapperFunctions": [
       
        {"property": "freeze", "object": "Object"},
        {"property": "myFavoriteWrapper"}
    ],
    "componentWrapperFunctions": [
        
        "observer", 
        {"property": "styled"}, 
        {"property": "observer", "object": "Mobx"},
        {"property": "observer", "object": "<pragma>"} 
    ],
    "linkComponents": [
      "Hyperlink",
      {"name": "Link", "linkAttribute": "to"}
    ]
  }
}