appEngine/node_modules
appEngine/package-lock.json
acceptanceTest/coverage/
acceptanceTest/node_modules/
backendacceptanceTest/app/build
frontend/node_moduls
frontend/package-lock.json
frontend/build
backend/bin
backend/build
deploytofargate/node_modules
deploytofargate/package-lock.json