.gradle
build
app/build
gradle
appEngine/node_modules
appEngine/package-lock.json
acceptanceTest/app/build
acceptanceTest/gradle
frontend/node_moduls
frontend/package-lock.json
/bin/
infAsCodeIntTest/node_modules
infAsCodeIntTest/package-lock.json
deploymentaws/node_modules
deploymentaws/package-lock.json
