# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
app/build
infAsCode/node_modules
gradle
appEngine/node_modules
gcp_ts_cloudrun/node_modules
infTest/node_modules
acceptanceTest/app/build
acceptanceTest/gradle
infAsCide/package-lock.json
acceptanceTest/externalIpAdress.txt
externalIpAdress.txt
frontend/package-lock.json
infAsCode/externalIpAdress.txt
/bin/
